---
http_interactions:
- request:
    method: post
    uri: https://broker.ci.swanest.com/portfolios
    body:
      encoding: UTF-8
      string: '{"isLive":false,"name":"this is my portfolio","config":{"currency":"EUR","targetRiskNumber":1,"timeHorizon":{"years":3},"createdAt":"2019-05-23T14:42:02.523Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <user_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"1df-FD2bYtui0QMXB09DJ/OwhSjAcAg"
    body:
      encoding: ASCII-8BIT
      string: '{"userId":"5ce69d3b68d67300083becfb","portfolioId":"5cfb842d9427dd00095da968","name":"this
        is my portfolio","configurationChanges":[{"targetRiskNumber":1,"managementType":"none","timeHorizon":{"years":3},"currency":"EUR","createdAt":"2019-06-08T09:47:25.089Z"}],"configuration":{"targetRiskNumber":1,"managementType":"none","timeHorizon":{"years":3},"currency":"EUR","createdAt":"2019-06-08T09:47:25.089Z"},"isGarbage":false,"isLive":false,"createdAt":"2019-06-08T09:47:25.089Z"}'
  recorded_at: Sat, 08 Jun 2019 09:47:25 GMT
- request:
    method: get
    uri: https://broker.ci.swanest.com/portfolios
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <user_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"86b-5wvhEY19PBIwsz/2bkQR3AprEVU"
    body:
      encoding: ASCII-8BIT
      string: '{"userId":"5cfcf1154af31b00085f0434","name":"N/A","details":{"from":"2019-06-14T10:46:43.957Z","to":"2019-06-14T12:17:32.179Z","fromAmount":915,"toAmount":915.012,"returnAmount":0.012,"allocation":[{"iid":"SW:2UU.NZP","units":3,"weight":1}],"timeSeries":[{"date":"2019-06-14T10:46:43.957Z","value":100},{"date":"2019-06-14T12:17:32.179Z","value":100.001}]},"portfolios":[{"userId":"5cfcf1154af31b00085f0434","portfolioId":"5cfcfbbbd8accc3838a12505","name":"Garbage","configurationChanges":[{"managementType":"none","currency":"EUR","createdAt":"2019-06-09T12:29:47.305Z"}],"configuration":{"managementType":"none","currency":"EUR","createdAt":"2019-06-09T12:29:47.305Z"},"isGarbage":true,"isLive":false,"createdAt":"2019-06-09T12:29:47.305Z","details":{"from":"2019-06-09T12:29:47.305Z","to":"2019-06-14T12:17:32.179Z","fromAmount":0,"toAmount":0,"returnAmount":0,"alloc[...]
