---
http_interactions:
- request:
    method: post
    uri: https://broker.ci.swanest.com/portfolios
    body:
      encoding: UTF-8
      string: '{"isLive":false,"name":"this is my portfolio","config":{"currency":"EUR","targetRiskNumber":1,"timeHorizon":{"years":3},"createdAt":"2019-05-23T14:42:02.523Z"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <user_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"1df-FD2bYtui0QMXB09DJ/OwhSjAcAg"
    body:
      encoding: ASCII-8BIT
      string: '{"userId":"5ce69d3b68d67300083becfb","portfolioId":"5cfb842d9427dd00095da968","name":"this
        is my portfolio","configurationChanges":[{"targetRiskNumber":1,"managementType":"none","timeHorizon":{"years":3},"currency":"EUR","createdAt":"2019-06-08T09:47:25.089Z"}],"configuration":{"targetRiskNumber":1,"managementType":"none","timeHorizon":{"years":3},"currency":"EUR","createdAt":"2019-06-08T09:47:25.089Z"},"isGarbage":false,"isLive":false,"createdAt":"2019-06-08T09:47:25.089Z"}'
  recorded_at: Sat, 08 Jun 2019 09:47:25 GMT
recorded_with: VCR 5.0.0
