---
http_interactions:
- request:
    method: post
    uri: https://identity.ci.swanest.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"client_credentials","scope":"identity:create"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"470-oBwIR8mieT9n3MB/GbPXqMxjLEc"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<manually removed as suggested and dont record anymore>","expires_at":1559918698,"expires_in":3600,"issued_at":1559915098,"scope":"identity:create","token_type":"Bearer"}'
  recorded_at: Fri, 07 Jun 2019 13:44:58 GMT
recorded_with: VCR 5.0.0
