---
http_interactions:
- request:
    method: post
    uri: https://identity.ci.swanest.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"client_credentials","scope":"identity:create"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"470-0hXZR+6isrYrM0C+XxuMduh9i7M"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<access_token>","expires_at":1559991586,"expires_in":3600,"issued_at":1559987986,"scope":"identity:create","token_type":"Bearer"}'
  recorded_at: Sat, 08 Jun 2019 09:59:47 GMT
- request:
    method: post
    uri: https://identity.ci.swanest.com/oauth/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"client_credentials","scope":"broker:write
        broker:read profile market_data:read","user_id":"5ce69d3b68d67300083becfb"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"883-yzR2Z5kZ3+utVN0XdYzjrsriD24"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<access_token>","expires_at":1559991587,"expires_in":3600,"id_token":"<id_token>","issued_at":1559987987,"profile_compliant":true,"scope":"broker:write
        broker:read profile market_data:read","token_type":"Bearer"}'
  recorded_at: Sat, 08 Jun 2019 09:59:47 GMT
recorded_with: VCR 5.0.0
